<!DOCTYPE html>
<html>
<head>
	<title>Az én blogom</title>
	<link rel="stylesheet" type="text/css" href="../static/cikk.css">
</head>
<body>
	<div id="kulso">
		<main id="cikkek">
			<article class="cikk">
				<h1 class="cikk_cim">{{article.cim}}</h1>
				<img src="../{{picture.kep_hash}}" class="cikk_kep">
				<p class="cikk_szoveg">{{article.tartalom}}</p>
			</article>
		</main>
		<nav id="sidebar">
			<div id="egyeb_cikkek">
				<h1 id="egyeb_cim">Egyébb cikkjeim:</h1>
				<ul id="egyeb_lista">
					{% for al in all_art %}
						<a href="cikkek/{{al.id}}"><li class="egyeb_elem">{{al.cim}}</li></a>
					{% endfor %}
				</ul>
			</div>
			<div id="idojaras">
				<h1 id="idojaras_cim">Mai időjárás:</h1>
				<img src="{{weather.0}}" id="idojaras_kep">
				<p id="idojaras_jelleg">{{weather.1}}</p>
				<p id="idojaras_homerseklet">Hőmérséklet: <span>{{weather.2}}</span></p>
			</div>
		</nav>
	</div>
</body>
</html>