<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Az én blogom</title>
	<link rel="stylesheet" type="text/css" href="../static/cikk_hozzaadasa.css">
	<script type="text/javascript" src="../static/cikk_hozzaadasa.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/header.css">
</head>
<body>
	<header id="header_kulso" style="margin-top: -150px;">
		<a href="/" id="header_logo_link"><img src="../static/pictures/logo.PNG" id="header_logo"></a>
		<div id="header_linkek">
			<a href="/" class="header_link" id="header_cikkek"><p class="header_p">Cikkek</p></a>
			<a href="/szerzok" class="header_link" id="header_szerzok"><p class="header_p">Szerzők</p></a>
		</div>
	</header>
	<main id="kulso">
		<h1 id="cim">Cikk hozzáadása</h1>
		<form id="cikk_form" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="text" name="cim" placeholder="A cikk címe" id="cikk_cim">
			<button id="cikk_kep_btn">Kép feltöltése</button>
			<input type="file" name="kep" accept=".jpg, .png" id="cikk_kep">
			<textarea id="cikk_szoveg" name=tartalom placeholder="A cikk tartalma"></textarea>
			<input type="submit" name="kozzetetel" value="Közzététel" id="cikk_btn">
		</form>
	</main>
</body>
</html>