<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
</head>
<body>
<footer id="footer_kulso">
	<div id="footer_nevek">
		<section class="footer_nev">Papp Csaba</section>
		<section class="footer_nev">Kolozsi Csongor</section>
		<section class="footer_nev">Jakab Nóra</section>
		<section class="footer_nev">Pálfi Bence</section>
	</div>
	<section id="footer_copyright">Az én blogom - Copyright © 2021</section>
</footer>
<script>
    let footer_div = document.getElementById('footer_kulso');
    const footer_pos = async function()
    {
        if(footer_div['style']['position'] == '' && document.documentElement.offsetHeight < window.innerHeight)
        {
            footer_div['style']['position'] = 'fixed';
        }
        else if(document.documentElement.offsetHeight + footer_div.offsetHeight >= window.innerHeight)
        {
            footer_div['style']['position'] = '';
        }
        footer_div['style']['visibility'] = 'visible';
    }
    window.addEventListener('load', footer_pos);
    window.addEventListener('resize', footer_pos);
</script>
</body>
</html>
