<!DOCTYPE html>
<html>
<head>
	<title>Az én blogom</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">
	<script type="text/javascript" src="../static/login.js"></script>
</head>
<body>
	<main id="kulso">
		<div id="wrong">
			<p id="wrong_szoveg">A felhasználónév vagy jelszó hibás</p>
		</div>
		<h1 id="login_cim">Admin oldal</h1>
		<input type="text" name="username" id="login_felhasznalo" placeholder="Felhasználónév" autofocus>
		<input type="password" name="password" id="login_jelszo" placeholder="Jelszó">
		<button id="login_btn" onclick="">Belépés</button>
	</main>
</body>
</html>