<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Az én blogom</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">
	<script type="text/javascript" src="../static/login.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/header.css">
</head>
<body>
	<header id="header_kulso" style="margin-top: -300px;">
		<a href="/" id="header_logo_link"><img src="../static/pictures/logo.PNG" id="header_logo"></a>
		<div id="header_linkek">
			<a href="/" class="header_link" id="header_cikkek"><p class="header_p">Cikkek</p></a>
			<a href="/szerzok" class="header_link" id="header_szerzok"><p class="header_p">Szerzők</p></a>
		</div>
	</header>
	<main id="kulso">
		<div id="wrong">
			<p id="wrong_szoveg">A felhasználónév vagy jelszó hibás</p>
		</div>
		<h1 id="login_cim">Admin oldal</h1>
		<form id="login_form" action="cikk_hozzaadasa" method="post">
			{% csrf_token %}
			<input type="text" name="username" id="login_felhasznalo" placeholder="Felhasználónév" maxlength="255" autofocus>
			<input type="password" name="password" id="login_jelszo" placeholder="Jelszó" maxlength="255">
			<input type="submit" id="login_btn" onclick="" value="Belépés">
		</form>
	</main>
	{% include 'footer.html' %}
</body>
</html>