<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Az én blogom</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">
	<script type="text/javascript" src="../static/login.js"></script>
</head>
<body>
	<main id="kulso">
		<div id="wrong">
			<p id="wrong_szoveg">A felhasználónév vagy jelszó hibás</p>
		</div>
		<h1 id="login_cim">Admin oldal</h1>
		<form id="login_form" action="cikk_hozzaadasa" method="post">
			{% csrf_token %}
			<input type="text" name="username" id="login_felhasznalo" placeholder="Felhasználónév" autofocus>
			<input type="password" name="password" id="login_jelszo" placeholder="Jelszó">
			<input type="submit" id="login_btn" onclick="" value="Belépés">
		</form>
	</main>
</body>
</html>