<!DOCTYPE html>
<html lang="hu">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Az én blogom</title>
	<link rel="stylesheet" type="text/css" href="../static/szerzok.css">
	<link rel="stylesheet" type="text/css" href="../static/header.css">
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
</head>
<body>
	<header id="header_kulso">
		<a href="/" id="header_logo_link"><img src="../static/pictures/logo.PNG" id="header_logo"></a>
		<div id="header_linkek">
			<a href="/" class="header_link" id="header_cikkek"><p class="header_p">Cikkek</p></a>
			<a href="/szerzok" class="header_link" id="header_szerzok"><p class="header_p">Szerzők</p></a>
		</div>
	</header>
	<div id="kulso">
		<main id="szerzok">
			{% for w in u %}
			<article class="szerzo">
				<h1 class="szerzo_nev">{{w.nev}}</h1>
				<img src="media/writers/{{w.kep_hash}}" alt="{{w.nev}} képe" class="szerzo_kep">
				<p class="szerzo_tel">{{w.tel}}</p>
				<div class="szerzo_linkek">
					<a href="mailto:{{w.email}}" class="szerzo_email_a"><img src="../static/pictures/email.png" class="szerzo_email"></a>
					<a href="{{w.fb}}" class="szerzo_fb_a"><img src="../static/pictures/fb.png" class="szerzo_fb"></a>
					<a href="{{w.insta}}" class="szerzo_insta_a"><img src="../static/pictures/insta.png" class="szerzo_insta"></a>
				</div>
			</article>
			{% endfor %}
		</main>
		<aside id="sidebar">
			<nav id="egyeb_cikkek">
				<h1 id="egyeb_cim">Egyébb cikkjeim:</h1>
				<ul id="egyeb_lista">
					{% for a in all_art %}
					<a href="/cikkek/{{a.id}}"><li class="egyeb_elem">{{a.cim}}</li></a>
					{% endfor %}
				</ul>
			</nav>
			<div id="idojaras">
				<h1 id="idojaras_cim">Mai időjárás:</h1>
				<img src="{{weather.0}}" id="idojaras_kep">
				<p id="idojaras_jelleg">{{weather.1}}</p>
				<p id="idojaras_homerseklet">Hőmérséklet: <span>{{weather.2}}</span></p>
			</div>
		</aside>
	</div>
	{% include 'footer.html' %}
</body>
</html>