:root {
	--background_color: #f3f3f3;
	--main_color: #ffffff;
	--side_color: #273129;
	--button_def_color: #151515;
	--button_hov_color: #404040;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background_color);
	font-family: 'Noto Sans', sans-serif;
	color: black;
}

#kulso {
	width: calc(70% - 60px);
	margin: 150px auto 0;
	background-color: var(--main_color);
	border-radius: 3px;
	padding: 30px;
}

#cikk_form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

#cikk_cim, #cikk_szoveg {
	margin: 0 auto 20px 0;
	border-radius: 3px;
	padding: 5px 10px;
	border: 2px solid;
	width: 70%;
	transition: 0.3s;
	font-family: 'Noto Sans', sans-serif;
}

#cikk_cim:focus, #cikk_szoveg:focus {
	border: 2px solid var(--side_color);
}

#cikk_szoveg {
	resize: none;
	height: 400px;
}

#cikk_kep {
	display: none;
}

#cikk_kep_btn, #cikk_btn {
	border: none;
	background-color: var(--button_def_color);
	padding: 10px 15px;
	color: var(--main_color);
	border-radius: 3px;
	display: block;
	font-family: 'Noto Sans', sans-serif;
}

#cikk_kep_btn:hover, #cikk_btn:hover {
	background-color: var(--button_hov_color);
}

#cikk_kep_btn {
	margin-bottom: 20px;
	width: 150px;
}

#cikk_btn {
	width: calc(30% - 50px);
	margin-left: auto;
	margin-top: -55px;
}

@media screen and (max-width: 1000px)
{
	#kulso {
		width: calc(90% - 60px);
	}
}

@media screen and (max-width: 650px)
{
	#cikk_cim, #cikk_szoveg {
		width: calc(100% - 20px);
	}

	#cikk_btn {
		width: 150px;
		margin: unset;
	}
}

@media screen and (max-width: 370px)
{
	#cim {
		font-size: 26px;
	}
}